/*
  Este archivo contendrá estilos específicos para la página de reportes.
  Por ejemplo, si agregamos gráficos, los estilos irían aquí.
*/

body {
    /* Puedes sobreescribir estilos si es necesario */
}